/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  /* color: #37393a; */
  color: #1c1c1c;
  font-family: "Poppins";
}
.container-main {
  width: 65%;
  margin: auto;
}

.headline {
  font-size: 3.5em;
  font-weight: 700;
  color: #000;
}

.subheadline {
  font-size: 23px;
  line-height: 1.9rem;
  font-weight: 400;
}
.cta {
  background: #99c24d;
  border: none;
  font-size: 1.3rem;
  padding: 1.5rem 5rem;
  border-radius: 5px;
  transition: 0.3s all ease;
  /* color: #fff; */
  font-weight: 600;

  min-width: 360px;
}
.cta:hover {
  background: #769b32;
}
.sessao-2 {
  background: #f3f6f8;
  margin-top: -3rem;
  z-index: 3333;
  position: relative;
}
.imagen-principal {
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.titulo {
  font-size: 40px;
  font-weight: 700;
}
.titulo-servico {
  font-weight: 500;
  font-size: 27px;
}

.card-servico {
  background: #fff;
  border-radius: 5px;
  padding: 2rem;
  transform: scale(0.96);
}
.card-servicos p {
  font-size: 20px;
  color: #4b4b4b;
}
.card-servico p {
  font-size: 18px;
  font-weight: 300;
}
@media only screen and (max-width: 600px) {
  body {
    /* background-image: url("./assets/fundo-mobile.png"); */
  }
  .container-main {
    width: 95%;
  }
  .headline {
    font-size: 2.6rem;
  }
  .cta {
    font-size: 1em;
    width: 100%;
  }
  .imagen-principal {
    border-radius: 10px;
    margin-top: 2rem;
  }
  .sessao-2 {
    margin-top: 1rem;
  }
  .titulo {
    font-size: 40px;
    font-weight: 700;
  }
  .card-servico p {
    font-size: 20px;
  }
}

.archivo-300 {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 125;
}

.archivo-400 {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 125;
}

.archivo-500 {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 125;
}

.archivo-600 {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 125;
}

.archivo-800 {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 125;
}
